{% assign data = include.data %}
{% if data == site.data.tags %}
  {% for tag in data %}
    {% if tag.name %}
      <div class="filter value chip" data-value="{{ tag.name }}">
        {{ tag.name }}
      </div>
    {% elsif tag.hasValue %}
      <div class="filter value chip" data-value="{{ tag.group }}">
        {{ tag.group }}
      </div>
      <div class="{{ tag.group | replace: "/", "or" | split: " " | join: "-" | append: " branch-chip-box" }}">
        {% if tag.filterTags %}
          {% include generate-html.html data = tag.filterTags %}
        {% elsif tag.choiceTags %}
          {% include generate-html.html data = tag.choiceTags %}
        {% endif %}
      </div>
    {% else %}
      <div class="filter chip">
        {{ tag.group }}
      </div>
      <div class="{{ tag.group | replace: "/", "or" | split: " " | join: "-" | append: " branch-chip-box" }}">
        {% if tag.filterTags %}
          {% include generate-html.html data = tag.filterTags %}
        {% elsif tag.choiceTags %}
          {% include generate-html.html data = tag.choiceTags %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% elsif data == tag.choiceTags %}
  {% assign branch = tag.group %}
  {% for tag in data %}
    {% if tag.name %}
      <div class="choice value chip" data-group="{{ branch }}" data-value="{{ tag.name }}">
        {{ tag.name }}
      </div>
    {% elsif tag.hasValue %}
      <div class="choice value chip" data-group="{{ branch }}" data-value="{{ tag.group }}">
        {{ tag.group }}
      </div>
      <div class="{{ tag.group | replace: "/", "or" | split: " " | join: "-" | append: " branch-chip-box" }}">
        {% if tag.filterTags %}
          {% include generate-html.html data = tag.filterTags %}
        {% elsif tag.choiceTags %}
          {% include generate-html.html data = tag.choiceTags %}
        {% endif %}
      </div>
    {% else %}
      <div class="choice chip" data-group="{{ branch }}">
        {{ tag.group }}
      </div>
      <div class="{{ tag.group | replace: "/", "or" | split: " " | join: "-" | append: " branch-chip-box" }}">
        {% if tag.filterTags %}
          {% include generate-html.html data = tag.filterTags %}
        {% elsif tag.choiceTags %}
          {% include generate-html.html data = tag.choiceTags %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  vvvvv
{% endif %}
