{% assign data = include.data %}
{% if data == site.data.tags %}
  {% for tag in data %}
    {% if tag.hasValue == false %}
      <div class="chip show" data-group="root">
        {{ tag.name }}
      </div>
      {% if tag.subTags == true %}
        <div class="chip-box-wrapper">
          <div class="chip-box-title">
        </div>
      
    {% else %}
      <div class="chip show" data-group="root" data-value="{{ tag.name }}">
        {{ tag.name }}
      </div>
    {% endif %}
  {% endfor %}

      <div class="root-chip" data-group="root" data-value="{{ tag.group }}">
      {{ tag.group }}
    </div>
    if tag.subTags == false
      case tag.subTagsType
        when "choice"
        when "filter"
        else
      endcase
    else
    <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-wrapper" }}">
      <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-title" }}">
        {{ tag.group }}
      </div>
      <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box" }}">
        {% if tag.filterTags %}
          {% include generate-html.html data = tag.filterTags %}
        {% elsif tag.choiceTags %}
          {% include generate-html.html data = tag.choiceTags %}
        {% else %}
          필터 태그와 초이스 태그가 여기 들어갑니다
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% elsif data == tag.choiceTags %}
  {% assign tagGroup = tag.group %}
  {% for tag in data %}
    {% if tag.name %}
      <div class="value-choice-chip" data-group="{{ tagGroup }}" data-value="{{ tag.name }}">
        {{ tag.name }}
      </div>
    {% else %}
      {% if tag.hasValue == true %}
        <div class="value-choice-chip" data-group="{{ tagGroup }}" data-value="{{ tag.group }}">
          {{ tag.group }}
        </div>
      {% elsif tag.hasValue == false %}
        <div class="choice-chip" data-group="{{ tagGroup }}">
          {{ tag.group }}
        </div>
      {% endif %}
      <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-wrapper" }}">
        <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-title" }}">
          {{ tag.group }}
        </div>
        <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box" }}">
          {% if tag.filterTags %}
            {% include generate-html.html data = tag.filterTags %}
          {% elsif tag.choiceTags %}
            {% include generate-html.html data = tag.choiceTags %}
          {% else %}
            필터 태그와 초이스 태그가 여기 들어갑니다
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% elsif data == tag.filterTags %}
  {% for tag in data %}
    {% if tag.name %}
      <div class="value-filter-chip" data-value="{{ tag.name }}">
        {{ tag.name }}
      </div>
    {% else %}
      {% if tag.hasValue == true %}
        <div class="value-filter-chip" data-value="{{ tag.group }}">
          {{ tag.group }}
        </div>
      {% elsif tag.hasValue == false %}
        <div class="filter-chip" data-group="{{ tagGroup }}">
          {{ tag.group }}
        </div>
      {% endif %}
      <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-wrapper" }}">
        <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box-title" }}">
          {{ tag.group }}
        </div>
        <div class="{{ tag.group | replace: " ", "-" | append: "-chip-box" }}">
          {% if tag.filterTags %}
            {% include generate-html.html data = tag.filterTags %}
          {% elsif tag.choiceTags %}
            {% include generate-html.html data = tag.choiceTags %}
          {% else %}
            필터 태그와 초이스 태그가 여기 들어갑니다
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  vvvvv
{% endif %}