<header>
  {% if page.title != "404" %}
    <p><a href="{{ site.url }}">{{ site.title }} {{ site.description }}</a></p>
  {% else %}
    <h1>404</h1>
    <h2>Not Found</h2>
  {% endif %}
</header>

<nav>
  <ul id="pages">
    {% for item in site.data.pages.pages %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
  <ul id="social">
    {% for item in site.data.social.social %}
      <li><a href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
    {% endfor %}
  </ul>
</nav>