<header>
  {% if page.title != "404" %}
    <div class="title">
      <a href="{{ site.url }}">
        <p>{{ site.title }}</p>
      </a>
    </div>
    <div class="description">
      <p>{{ site.description }}</p>
    </div>
  {% else %}
    <div class="title">
      <a href="{{ site.url }}">
        <p>404</p>
      </a>
    </div>
    <div class="description">
      <p>Not Found</p>
    </div>
  {% endif %}
</header>

<div class="navbar">
  <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
  <div id="menu" class="menu">
    <ul>
      <li><a href="#">메뉴 항목 1</a></li>
      <li><a href="#">메뉴 항목 2</a></li>
      <li><a href="#">메뉴 항목 3</a></li>
    </ul>
  </div>
  <div id="overlay" class="overlay"></div>
</div>

<nav>
  <ul id="pages">
    {% for item in site.data.pages.pages %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
  <ul id="social">
    {% for item in site.data.social.social %}
      <li><a href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
    {% endfor %}
  </ul>
</nav>

<script>
var menu = document.getElementById("menu");
var overlay = document.getElementById("overlay");

function toggleMenu() {
  menu.classList.toggle("open");
  overlay.classList.toggle("open");
}

overlay.addEventListener("click", function() {
  if (menu.classList.contains("open")) {
    toggleMenu();
  }
});
</script>