<meta charset="UTF-8">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
  {% if page.title == "Home" %}
    {{ site.title }}, {{ site.description }}
  {% else %}
    {{ page.title }} | {{ site.title }}
  {% endif %}
</title>


<script src="node_modules/eruda/eruda.js"></script>
<script>eruda.init();</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/js/jquery.multilingual.min.js"></script>

<!--Atom-->
<link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml">
<!--Favicon-->
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/assets/favicon.ico" sizes="any">
<link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<!--CSS-->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
<link rel="stylesheet" href="/assets/css/multilingual.css">
<!--Icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<!--SEO Plugin-->
{% seo %}
