<header>
  {% if page.title != "404" %}
    <div class="title">
      <a href="{{ site.url }}">
        <p>{{ site.title }}</p>
      </a>
    </div>
    <div class="description">
      <p>{{ site.description }}</p>
    </div>
  {% else %}
    <div class="title">
      <a href="{{ site.url }}">
        <p>404</p>
      </a>
    </div>
    <div class="description">
      <p>Not Found</p>
    </div>
  {% endif %}
</header>

<nav>
  <div id="hamburger">
    <div id="overlay"></div>
    <button id="hamburgerBtn" onclick="toggleMenu()">&#9776;</button>
    <div class="pages">
      <ul>
        {% for item in site.data.pages.pages %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="navbar">
    <div class="pages">
      <ul>
        {% for item in site.data.pages.pages %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="social">
      <ul>
        {% for item in site.data.social.social %}
          <li><a href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<script>
function toggleMenu() {
  const overlay = document.getElementById("overlay");
  const pages = document.getElementByClassName("pages")[1];
  if(overlay.style.display=="none") {
    overlay.style.display = "block";
  } else {
    	overlay.style.display = "none";
  }
  if(pages.style.display=="none") {
    pages.style.display = "block";
  } else {
    	pages.style.display = "none";
  }
}
</script>