<div class="logo">
  <svg width="156" height="48" viewBox="0 0 156 48">
    <text class="logo-text" x="0" y="38" textLength="156">
      金立圖書館
    </text>
  </svg>
</div>
<div class="menu">
  <ul class="menu-items">
    <li class="menu-item">Home</li>
    <li class="menu-item">Ani List</li>
    <li class="menu-item">Image Tagging</li>
    <li class="menu-item">Blackjack</li>
  </ul>
</div>
<div class="hamburger-button">
  <svg width="36" height=48" viewBox="0 0 36 48">
    <text class="button-text" x="0" y="38" textLength="36">
      ︙
    </text>
  </svg>
</div>

<script>
  function toggleMenu() {
    const overlay = document.getElementById("overlay");
    const pages = document.querySelector("#hamburger .pages");
    overlay.classList.toggle("open");
    pages.classList.toggle("open");
  }
</script>