<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://libkim.github.io/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://libkim.github.io/ani-list">Ani List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://libkim.github.io/image-tagging">Image Tagging</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://libkim.github.io/blackjack">Blackjack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" href="https://libkim.github.io/">
      <div class="logo">
        <svg width="156" height="48" viewBox="0 0 156 48">
          <text class="logo-text" x="0" y="38" textLength="156">
            金立圖書館
          </text>
        </svg>
      </div>
    </a>
  </div>
</nav>
