<div class="post-wrapper">
  <div class="post-title">{{ page.slug }}</div>
  <div class="post-metadata">
    <div class="post-datetime">작성 날짜: {{ page.created-date | date: "%Y-%m-%d" }}</div>
    <div class="post-datetime">수정 날짜:</div>
    <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
      * random line to make it work. This will be removed.
      {:toc}
    </div>
  </div>
  <div class="post-content">
    <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      {{ content }}
    </div>
  </div>
</div>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  $(document).ready(function(e) {
    $("#markdown-toc").multilingual(["ko", "en", "num"]);
  });
</script>