<div class="container d-flex flex-wrap-reverse container-sm container-md container-lg container-xl container-xxl">
  {% for post in paginator.posts reversed %}
    {% if post.gif %}
      <div class="card post-thumbnail border-0">
        <a href="{{ post.url }}">{% include gif.html file = post.gif %}</a>
        <div class="card-img-overlay">
          <h6 class="card-title ps-1 pe-1 text-bg-light rounded">{{ post.title }}</h6>
        </div>
      </div>
    {% elsif post.image %}
      <div class="card post-thumbnail border-0">
        <img src="{{ post.image }}" class="card-img object-fit-cover"/>
        <a href="{{ post.url }}">
          <div class="card-img-overlay">
            <h6 class="card-title"><span class="ps-1 pe-1 bg-white rounded">{{ post.title }}</span></h6>
          </div>
        </a>
      </div>
    {% else %}
      {% if forloop.last %}
      <div class="card post-thumbnail" style="background-color: cadetblue;">
      {% else %}
      <div class="card post-thumbnail">
      {% endif %}
        <div class="card-body w-100 d-flex flex-column">
          <h6 class="card-title"><span class="ps-1 pe-1"><a href="{{ post.url }}">{{ post.title }}</a></span></h6>
          <p class="card-text ps-1 pe-1 overflow-hidden" style="font-size: 14px; text-overflow: ellipsis;">
            {% if post.customexcerpt %}
              {{ post.customexcerpt | strip_html }}
            {% else %}
              {{ post.content | strip_html }}
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="post-container">
  <!-- Pagination links -->
  <div class="paginator">
    {% if paginator.total_pages > 1 %}
      {% if paginator.next_page %}
        <a class="older paginate-button" href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a class="newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
      {% endif %}
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function(e) {
    $("#post-title").multilingual(["ko-post-title", "en-post-title", "num-post-title"]);
  });
</script>
