<div class="card" id="practiceSong">
  <div class="card-header d-flex flex-row justify-content-between align-items-center" id="practiceSongCardHeader">
      <div>
          <h1>Posts&nbsp;</h1>
      </div>
      <button type="button" class="btn icon-button" data-bs-toggle="modal" data-bs-target="#searchModal">
          <div class="h1">
              <span class="material-symbols-rounded">add_circle</span>
          </div>
      </button>
  </div>
  <div class="card-body" id="practiceSongCardBody">
      <div class="row row-cols-1 row-cols-sm-1 justify-content-sm-start row-cols-md-2 row-cols-lg-2 justify-content-lg-start row-cols-xl-3 row-cols-xxl-3 justify-content-xxl-start gy-3">
          {% for post in paginator.posts %}
              <div class="col">
                <div class="card bg-dark text-white">
                  {% if post.image %}
                  <a href="{{ post.url }}"><img src="{{ post.image }}" class="card-img"/></a>
                  {% endif %}
                  {% if post.gif %}
                  <a href="{{ post.url }}">{% include gif.html file = post.gif %}</a>
                  {% endif %}
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                      {% if post.customexcerpt %}
                        {{ post.customexcerpt | strip_html | truncatewords:50 }}
                      {% else %}
                        {{ post.content | strip_html | truncatewords:50 }}
                      {% endif %}
                    </p>
                    <p class="card-text">{{ post.date | date_to_string }}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
      </div>
  </div>
</div>

<div class="post-container">
  <!-- Pagination links -->
  <div class="paginator">
    {% if paginator.total_pages > 1 %}
      {% if paginator.next_page %}
        <a class="older paginate-button" href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a class="newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
      {% endif %}
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function(e) {
    $("#post-title").multilingual(["ko-post-title", "en-post-title", "num-post-title"]);
  });
</script>
