<div class="post-container">
  <div class="post-container-header">Posts</div>
  <div class="upstairs-posts"></div>
  <div class="downstairs-posts"></div>
  <div class="post-container-image">
    <svg width="100%" height="100%">
      <image href="assets\img\svg\svgurt-output (1).svg" x="0" y="0" width="100%" height="100%" />
    </svg>
  </div>
  <div class="left-secondary-paginator">
    <div class="previous-button">◀</div>
  </div>
  <div class="right-secondary-paginator">
    <div class="next-button">▶</div>
  </div>
  <div class="main-paginator">
    <div class="previous-button">◀</div>
    <div class="page-number">1/3</div>
    <div class="next-button">▶</div>
  </div>
</div>

<script>
  $(document).ready(function(e) {
    $("#post-title").multilingual(["ko-post-title", "en-post-title", "num-post-title"]);
  });
</script>
