* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  .title {
      position: fixed;
      top: 5vw;
      left: 5vw;
      z-index: 1001;
      width: 18vw;
      height: 9vw;
      display: flex;
      align-items: center;
      background-color: #BBDEFB;
      p {
        width: 100%;
        height: 5vw;
        text-align: justify;
        text-align-last: justify;
        font-family: 'ChosunKm';
        font-size: 2rem;
      }
    }
    #hamburger {
      position: fixed;
      top: 0;
      left: 0;
      #overlay {
        display: none;
      }
      #overlay.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        -webkit-backdrop-filter: brightness(1.1) blur(20px);
        backdrop-filter: brightness(1.1) blur(20px);
        mix-blend-mode: overlay;
      }
      #hamburgerBtn {
        position: fixed;
        top: 5vw;
        right: 5vw;
        z-index: 1001;
        width: 5vw;
        height: 5vw;
      }
      .pages {
        display: none;
      }
      .pages.open {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        text-align: center;
      }
    }
    #navbar {
      display: none;
    }
  }








#markdown-toc {
  counter-reset: section;
  list-style-type: none;
  width: 100%;
  li {
    display: flex;
    justify-content: flex-start;
    order: 0;
    a {
      text-decoration: none;
    }
    a:link {
      color: black;
    }
  }
  li::before {
    content: "";
    border-bottom: 2px dotted black;
    position: relative;
    top: -3px;
    flex: 1 1 auto;
    order:1;
  }
  li::after {
    counter-increment: section;
    content: counters(section, ".");
    flex: 0 0 auto;
    font-family: 'Libre Caslon Text', serif;
    font-size: 14px;
    order: 2;
  }
}

#markdown-toc::before {
  content: "Contents";
  font-family: OldLondon;
  font-size: 48px;
  display: block;
  text-align: center;
}

//fx toc
#markdown-toc {
  transition: transform 0.3s;
  li:hover {
    color: black !important;
    a:link {
      color: black !important;
    }
  }
  li:hover::before {
    transition: flex-grow 0.3s;
    width: 0;
    flex-grow: 0;
    transform-origin: center bottom;
  }
}

#markdown-toc:hover {
  transform: rotate(0);
  li {
    color: $secondary-color;
    a:link {
      color: $secondary-color;
    }
  }
  li::after {
    transform: rotate(0);
  }
}
