body {
  padding-right: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

p {
  margin-bottom: 0;
}

h1 {
  font-weight: 600;
}

header {
  height: 432px;
  padding: 0 1rem;
  color: #6c757d;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media (min-width: 0px) {
  .post-container {
    width: 100%;
    padding: 0 4px;
    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "A A"
      "B B"
      "B B"
      "B B"
      "E E"
      "D D"
      "D D";
    gap: 4px;
    aspect-ratio: 1 / 3;
  }
  .upstairs-posts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }
  .downstairs-posts {
    display: none;
  }
  .main-paginator {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .left-secondary-paginator {
    display: none;
  }
  .right-secondary-paginator {
    display: none;
  }
}

@media (min-width: 576px) {
  .post-container {
    width: 476px; // 156*3 + 4*2
    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "A A A"
      "B B B"
      "B B B"
      "B B B"
      "E E E"
      "D D ."
      "D D .";
    gap: 4px;
    aspect-ratio: 1 / 2;
  }
  .upstairs-posts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .downstairs-posts {
    display: none;
  }
  .main-paginator {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .left-secondary-paginator {
    display: none;
  }
  .right-secondary-paginator {
    display: none;
  }
}

@media (min-width: 992px) {
  .post-container {
      width: 956px; // 156*6 + 4*5
      display: grid;
      grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        ". A A A A ."
        "F B B B B G"
        "F B B B B G"
        "F D D . . G"
        "F D D C C G"
        ". E E E E .";
      gap: 4px;
      aspect-ratio: 6 / 5;
  }
  .upstairs-posts {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }
  .downstairs-posts {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }
  .main-paginator {
    display: block;
  }
  .main-paginator .previous-button {
    display: none;
  }
  .main-paginator .next-button {
    display: none;
  }
  .left-secondary-paginator {
    display: block;
  }
  .right-secondary-paginator {
    display: block;
  }
}

@media (min-width: 1400px) {
  .post-container {
    width: 1276px; // 156*8 + 4*7
    display: grid;
    grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ". A A A A A A ."
      "F B B B B B B G"
      "F D D D . . . G"
      "F D D D C C C G"
      "F D D D C C C G"
      ". E E E E E E .";
    gap: 4px;
    aspect-ratio: 8 / 5;
  }
  .upstairs-posts {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
  }
  .downstairs-posts {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .main-paginator {
    display: block;
  }
  .main-paginator .previous-button {
    display: none;
  }
  .main-paginator .next-button {
    display: none;
  }
  .left-secondary-paginator {
    display: block;
  }
  .right-secondary-paginator {
    display: block;
  }
}

.post-container {
  justify-self: center;
}

.post-container-header {
  grid-area: A;
  align-content: center;
  font-family: TraditionalGothic;
  font-size: 40px;
}

.upstairs-posts {
  grid-area: B;
}

.downstairs-posts {
  grid-area: C;
}

.post-container-image {
  grid-area: D;
  background-color: white;
}

.main-paginator {
  grid-area: E;
  text-align: center;
  align-content: center;
  align-items: center;
}

.left-secondary-paginator {
  grid-area: F;
  text-align: center;
  align-content: center;
}

.right-secondary-paginator {
  grid-area: G;
  text-align: center;
  align-content: center;
}

.post-thumbnail {
  padding: 4px;
  background-color: white;
}

@media (min-width: 0px) {
  .post-wrapper {
    width: 100%;
    padding: 0 4px;
    display: grid;
    grid-template-rows: 78px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "A A"
      "B B"
      "C C";
    gap: 4px;
  }
}

@media (min-width: 576px) {
  .post-wrapper {
    width: 476px; // 156*3 + 4*2
    display: grid;
    grid-template-rows: 78px 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "A A A"
      "B B B"
      "C C C";
    gap: 4px;
  }
}

@media (min-width: 992px) {
  .post-wrapper {
      width: 956px; // 156*6 + 4*5
      display: grid;
      grid-template-rows: 78px 1fr;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        ". . A A A A"
        "B B C C C C";
      gap: 4px;
  }
}

@media (min-width: 1400px) {
  .post-wrapper {
    width: 1276px; // 156*8 + 4*7
    display: grid;
    grid-template-rows: 78px 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ". . A A A A A A"
      "B B C C C C C C";
    gap: 4px;
  }
}

.post-wrapper {
  justify-self: center;
}

.post-title {
  grid-area: A;
  align-content: center;
  font-size: 40px;
}

.post-metadata {
  grid-area: B;
}

.post-content {
  grid-area: C;
  overflow: auto;
}

        .accordion-header .material-symbols-rounded {
            font-size: 1rem;
            font-weight: 600;
            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
            font-variation-settings:
                'FILL' 0,
                'wght' 300,
                'GRAD' 0,
                'opsz' 20;
        }

        button {
            font-weight: inherit;
        }

        #searchOption {
            width: 4rem;
            border: 1px solid #ced4da;
            border-right: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            text-align: center;
        }

        #query {
            border-left: 0;
        }

        .icon-button {
            padding: 0;
            border: 0;
            line-height: 0;
        }

        .song-card-body {
            padding: .75rem 0;
        }

        .no {
            font-weight: 600;
        }

        .youtube {
            font-weight: 600;
            text-decoration: underline;
            text-decoration-style: dotted;
            cursor: pointer;
        }
        .api {
            font-weight: 600;
            text-decoration: underline;
            text-decoration-style: dotted;
            color: #6c757d;
            cursor: pointer;
        }
        
        .api:hover {
            color: #6c757d;
        }

        .accordion-button {
            padding: .5rem 1rem;
            --bs-gutter-x: 0;
            font-size: inherit;
            text-align: center;
            background-color: initial;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: initial;
            color: #0d6efd;
        }

        .accordion-button:focus {
            z-index: initial;
            border-color: initial;
            outline: initial;
            box-shadow: initial;
        }

        .accordion-button::after {
            display: inline-block;
            width: auto;
            height: auto;
            margin-left: 0;
            content: "arrow_forward_ios";
            font-size: 1.5rem;
            font-family: 'Material Symbols Rounded';
            vertical-align: middle;
            background-image: initial;
            transform: rotate(90deg);
        }
        .accordion-button:not(.collapsed)::after {
            font-size: 1.5rem;
            font-family: 'Material Symbols Rounded';
            vertical-align: middle;
            background-image: initial;
            transform: rotate(-90deg);
        }

        .accordion-item {
            background-color: initial;
            border: initial;
        }

        .accordion-header {
            font-weight: 600;
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: auto;
            padding: 0 .5rem;
            padding-top: .25rem;
            color: #dedad6;
        }

        .carousel-control-prev {
            display: none;
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            background-image: initial;
        }

        .btn-group>.btn-group:not(:first-child),
        .btn-group>.btn:not(:first-child) {
            border-left: 0;
        }

        .modal-title {
            font-weight: 600;
        }

        .text-container {
            white-space: nowrap;
            position: relative;
            overflow: hidden;

            span {
                display: inline-block;
            }

            .animate {
                position: relative;
                animation: leftright 3s infinite alternate ease-in-out;
            }
        }
        .modal-dialog-scrollable .modal-body {
            overflow-x: hidden;
        }

        .btn-group-vertical>.btn-group:not(:first-child), .btn-group-vertical>.btn:not(:first-child) {
            margin-top: 0;
        }

        @keyframes leftright {
            0%,
            20% {
                transform: translateX(0%);
                left: 0%;
            }

            80%,
            100% {
                transform: translateX(-100%);
                left: 100%;
            }
        }

.diagonal-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  transform: rotate(45deg);
  transform-origin: top left;
}

.line-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo-text {
  font-size: 1.5rem;
  font-family: 'ChosunKg';
  vertical-align: middle;
}

#markdown-toc {
  counter-reset: section;
  list-style-type: none;
  width: 100%;
  li {
    display: flex;
    justify-content: flex-start;
    order: 0;
    a {
      text-decoration: none;
    }
    a:link {
      color: black;
    }
  }
  li::before {
    content: "";
    border-bottom: 2px dotted black;
    position: relative;
    top: -3px;
    flex: 1 1 auto;
    order:1;
  }
  li::after {
    counter-increment: section;
    content: counters(section, ".");
    flex: 0 0 auto;
    font-family: 'Libre Caslon Text', serif;
    font-size: 14px;
    order: 2;
  }
}

#markdown-toc::before {
  content: "Contents";
  font-family: OldLondon;
  font-size: 48px;
  display: block;
  text-align: center;
}

//fx toc
#markdown-toc {
  transition: transform 0.3s;
  li:hover {
    color: black !important;
    a:link {
      color: black !important;
    }
  }
  li:hover::before {
    transition: flex-grow 0.3s;
    width: 0;
    flex-grow: 0;
    transform-origin: center bottom;
  }
}

#markdown-toc:hover {
  transform: rotate(0);
  li {
    color: blue;
    a:link {
      color: blue;
    }
  }
  li::after {
    transform: rotate(0);
  }
}

.MJX-TEX {
  margin: 12px 0;
}

mjx-container [size="s"] {
  font-size: 100% !important;
}
mjx-script [size="s"] {
  font-size: 70.7% !important;
}
mjx-frac {
  mjx-num {
    mjx-mrow :not(:first-child) {
      margin-left: .222em;
    }
  }
  mjx-dbox {
    mjx-dtable {
      mjx-row {
        mjx-den {
          mjx-mrow :not(:first-child) {
            margin-left: .222em;
          }
        }
      }
    }
  }
}
mjx-math {
  font-size: 1rem !important;
}
