@font-face {
	font-family: OldLondon;
	src: url(/assets/font/OldLondon.woff);
}
@font-face {
	font-family: ChosunKg;
	src: url(/assets/font/ChosunKg.woff);
}

@media print {
	body {
		background-color: white;
		color: black;
	}
}