@font-face {
  font-family: OldLondon;
  src: url(/assets/font/OldLondon.woff);
}

@font-face {
  font-family: HouseOfTheDragon;
  src: url(/assets/font/HouseOfTheDragon_PERSONAL_USE_ONLY.otf);
}

@font-face {
  font-family: IcelandWinterstorm;
  src: url(/assets/font/IcelandWinterstorm_PERSONAL_USE_ONLY.otf);
}

@font-face {
  font-family: Lordish;
  src: url(/assets/font/Lordish-Regular.ttf);
}

@font-face {
  font-family: PaulsGothicCurls;
  src: url(/assets/font/PaulsGothicCurls.ttf);
}

@font-face {
  font-family: Redwinger;
  src: url(/assets/font/Redwinger.otf);
}

@font-face {
  font-family: SAndSGreyHoodSeven;
  src: url(/assets/font/SAndSGreyHoodSeven.otf);
}

@font-face {
  font-family: TraditionalGothic;
  src: url(/assets/font/TraditionalGothic.ttf);
}

@font-face {
  font-family: CONSOLA;
  src: url(/assets/font/CONSOLA.TTF);
}

@font-face {
  font-family: ChosunKg;
  src: url(/assets/font/ChosunKg.woff);
}

@font-face {
  font-family: ChosunKm;
  src: url(/assets/font/ChosunKm.woff2);
}

@media print {
  body {
    background-color: white;
    color: black;
  }
}