a { color: $secondary-color; }
i { margin-right: 3px; }

header {
	height: 100vh;
	text-align: center;
	padding-top: 16px;
}

nav {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: 24px;
	margin: 0px $margin-size;
}

#pages {
	display: flex;
	li {
		margin-right: 24px;
	}
}

#social {
	display: flex;
	li {
		margin-left: 8px;
	}
}