
@media all and (min-width: calc($laptop-width + 1px)) and (max-width: $desktop-width) {

}

@media all and (min-width: calc($tablet-width + 1px)) and (max-width: $laptop-width) {

}

@media all and (min-width: calc($smartphone-width + 1px)) and (max-width: $tablet-width) {

}

@media all and (max-width: $smartphone-width) {
  html {
    font-size: 62.5%;
  }
  body {
    width: 100vw;
    height: auto;
    padding: 5vw;
    display: flex;
    flex-direction: column;
  }
  header {
    width: 100%;
    height: auto;
    .title {
      position: fixed;
      top: 5vw;
      left: 5vw;
      z-index: 1001;
      width: 18vw;
      height: 9vw;
      display: flex;
      align-items: center;
      background-color: #BBDEFB;
      p {
        width: 100%;
        height: 5vw;
        text-align: justify;
        text-align-last: justify;
        font-family: 'ChosunKm';
        font-size: 2rem;
      }
    }
    .description {
      position: relative;
      top: 9vw;
      left: 0;
      z-index: 999;
      margin-top: 5vw;
      width: 100%;
      height: 36vw;
      display: flex;
      align-items: center;
      background-color: #BBDEFB;
      h3 {
        width: 100%;
        height: auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 4rem;
        line-height: 1.5;
        padding: 0 0 0.1em;
      }
    }
    .post {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      .post-title {
        margin-top: 5vw;
        width: 72vw;
        height: auto;
        display: flex;
        align-items: center;
        background-color: #BBDEFB;
        h3 {
          width: 100%;
          height: auto;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 4rem;
          word-break: break-all;
        }
      }
      .datetime {
        position: relative;
        z-index: 2;
        width: 90px;
        margin-top: 14px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8rem;
        color: $another-sec-color;
        p {
          line-height: 1.4em;
        }
      }
    }
  }

  nav {
    #hamburger {
      position: fixed;
      top: 0;
      left: 0;
      #overlay {
        display: none;
      }
      #overlay.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        -webkit-backdrop-filter: brightness(1.1) blur(20px);
        backdrop-filter: brightness(1.1) blur(20px);
        mix-blend-mode: overlay;
      }
      #hamburgerBtn {
        position: fixed;
        top: 5vw;
        right: 5vw;
        z-index: 1001;
        width: 5vw;
        height: 5vw;
      }
      .pages {
        display: none;
      }
      .pages.open {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        text-align: center;
      }
    }
    #navbar {
      display: none;
    }
  }
}



@media (max-width: 768px){
  ::-webkit-scrollbar {
    height: 3px;
  }
  div .highlight{
    padding-left: 8px;
    padding-right: 0px;
  }
  pre .highlight{
    padding-left: 8px;
    padding-right: 0px;
  }
}