
@media all and (min-width: calc($laptop-width + 1px)) and (max-width: $desktop-width) {

}

@media all and (min-width: calc($tablet-width + 1px)) and (max-width: $laptop-width) {

}

@media all and (min-width: calc($smartphone-width + 1px)) and (max-width: $tablet-width) {

}

@media all and (max-width: $smartphone-width) {
  html {
    font-size: 62.5%;
  }
  body {
    width: 100vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
  }
  header {
    width: 70vw;
    height: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'ChosunKm';
    .title {
      p {
        font-size: 2rem;
        word-spacing: 3rem;
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      p {
        font-size: 4rem;
        line-height: 1.5;
        color: $another-sec-color;
      }
    }
  }
  nav {
    order: -1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  #pages {
    display: none;
    order: 2;
    margin-top: 1rem;
    text-align: right;
    a {
      font-size: 1.15rem;
    }
  }
  #social {
    display: none;
    order: 1;
    margin-top: 1rem;
    li {
      margin-right: 1rem;
    }
    i {
      font-size: 1.3rem;
    }
  }
}



@media (max-width: 768px){
    .post-info{
        text-align: center;
    }
    ::-webkit-scrollbar {
        height: 3px;
      }
    div .highlight{
        padding-left: 8px;
        padding-right: 0px;
    }
    pre .highlight{
        padding-left: 8px;
        padding-right: 0px;
    }
}
