img {
  max-width: 100%;
  object-fit: contain;
}

.flex-container {
  display: flex;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.categories {
  p {
    display: inline-block;
  }
  a {
    text-decoration:none;
    border-bottom: 2px solid $accent-color;
    box-shadow: inset 0 -4px 0 $accent-color;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  }
  a:visited {
    text-decoration: none;
    border-bottom: 2px solid $accent-color;
    box-shadow: inset 0 -4px 0 $accent-color;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  }
  a:hover {
    background: $accent-color;
  }
}

article::after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 30px auto;
  background-color: #d5d5d5;
}

.rootChips {
  display: block;
  .branch1Chips {
    display: none;
  }
  .branch1Chips.active {
    display: block;
  }
}

.choice.chip {
  display: block;
  margin: 4px;
  padding: 4px 8px;
  border: 2px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.choice.value.chip {
  display: block;
  margin: 4px;
  padding: 4px 8px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.choice.chip.selected {
  display: block;
  margin: 4px;
  padding: 4px 8px;
  border: 2px solid #66c;
  border-radius: 20px;
  cursor: pointer;
}

.choice.value.chip.selected {
  display: block;
  margin: 4px;
  padding: 4px 8px;
  background-color: #66c;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.filter.chip {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  border: 2px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.filter.value.chip {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.filter.chip.selected {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  border: 2px solid #66c;
  border-radius: 20px;
  cursor: pointer;
}

.filter.value.chip.selected {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  background-color: #66c;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}