img {
  max-width: 100%;
  object-fit: contain;
}

.flex-container {
  display: flex;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.categories {
  p {
    display: inline-block;
  }
  a {
    text-decoration: none;
    border-bottom: 2px solid $accent-color;
    box-shadow: inset 0 -4px 0 $accent-color;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  }
  a:visited {
    text-decoration: none;
    border-bottom: 2px solid $accent-color;
    box-shadow: inset 0 -4px 0 $accent-color;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  }
  a:hover {
    background: $accent-color;
  }
}

article::after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 30px auto;
  background-color: #d5d5d5;
}

[class$=chip] {
  display: inline-block;
  height: 28px;
  margin-right: 1px;
  margin-bottom: 2px;
  padding: 0 6px;
  border: 1px solid #271000;
  border-radius: 14px;
  color: #4E4855;
  cursor: pointer;
}
[class$='chip selected'] {
  display: inline-block;
  height: 28px;
  margin-right: 1px;
  margin-bottom: 2px;
  padding: 0 6px;
  border: 1px solid #271000;
  border-radius: 14px;
  background: #271000;
  color: #FFF;
  cursor: pointer;
}
[class$=chip-box] {
  display: none;
}
[class$='chip-box show'] {
  display: flex;
  justify-content: center;
}

.image-upload-button-outer {
  display: inline-block;
  position: relative;
  background: #271000;
  border-radius:30px;
  height: 50px;
  width: 200px;
  transition: .2s;
  text-align: center;
  overflow: hidden;
}
.image-upload-button {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}
.image-upload-button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}
.file-uploading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}
.file-uploading .image-upload-button {
  display: none;
}
.processing-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: #4E4855;
  transition: 3s;
}
.file-uploading .processing-bar {
  width: 100%;
}
.success-box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.success-box:before {
  content: '';
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
}
.file-uploaded .success-box {
  display: inline-block;
}
.file-uploaded.hiding {
  display: none;
}
.file-uploaded {
  margin-top: 0;
  width: 50px;
  background: #83ccd3;
  height: 50px;
}
.image-view {
  max-width: 300px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  transition: .2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}
.image-remove-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}
.image-remove-button:hover {
  background: #222;
  transition: .2s;
}
.image-view img {
  max-width: 100%;
}
.image-view.show {
  opacity: 1;
}
.error-message {
  text-align: center;
  color: #f00;
}