// Color
$bg-color: #ffffff;
$secondary-color: #000000;
$another-sec-color: #a2a2a2;
$accent-color: #ebebeb;

// Breakpoints
$mobile-portrait-min-width: 240px;
$mobile-landscape-min-width: 480px;
$tablet-min-width: 768px;
$desktop-min-width: 992px;

// Padding
$moblie-portrait-min-padding: 12px;
$moblie-landscape-min-padding: 12px;
$tablet-min-padding: 16px;
$desktop-min-padding: 20px;

// Font-size
$moblie-portrait-font-size: 16px;
$moblie-landscape-font-size: 16px;
$tablet-font-size: 16px;
$desktop-font-size: 16px;
