.ml-en {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.ml-ko {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /*below two lines are for baseline shift.*/
  position: relative;
  top: 0;
}

.ml-num {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /*below two lines are for baseline shift.*/
  position: relative;
  top: 0;
}

.ml-punct {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /*below two lines are for baseline shift.*/
  position: relative;
  top: 0;
}

.ml-en-post-title {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.ml-ko-post-title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /*below two lines are for baseline shift.*/
  position: relative;
  top: 0;
}

.ml-num-post-title {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /*below two lines are for baseline shift.*/
  position: relative;
  top: 0;
}