---
layout: post
---

<style>
#viewer {
  position: relative;
  width: 100%;
  height: 55vw;
  display: flex;
}
#startBtn {
  display: none;
}
#startBtn.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#turn {
  display: none;
}
#turn.active {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
}
#player1BtnCon, #player2BtnCon {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#player2BtnCon {
  background-color: red;
}
#player1Buttons, #player2Buttons {
  display: none;
}
#player1Buttons.active, #player2Buttons.active {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player1BoardCon, #player2BoardCon {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#player2BoardCon {
  background-color: blue;
}
#player1Result, #player2Result {
  display: none;
}
#player1Result.active, player2Result.active {
  width: 100%;
  height: 10%;
  margin-bottom: 6px;
  display: block;
  text-align: center;
}
#player1Board, #player2Board {
  width: 100%;
  max-width: 234px;
  height: 80%;
  max-height: 165px;
  margin-bottom: 6px;
  padding-left: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
#player1Card0, #player1Card1, #player1Card2, #player1Card3, #player1Card4, #player1Card5, #player2Card0, #player2Card1, #player2Card2, #player2Card3, #player2Card4, #player2Card5 {
  margin-right: 3px;
  margin-bottom: 1px;
}
.card {
  margin-right: 3px;
  margin-bottom: 1px;
  opacity: 0;
}
#player1Board div img, #player2Board div img {
  width: 36px;
  height: 51px;
  object-fit: cover;
}
#player1BoardValue, #player2BoardValue {
  display: none;
}
#player1BoardValue.active, #player2BoardValue.active {
  width: 100%;
  height: 10%;
  display: block;
  text-align: center;
}
</style>

<div id="viewer">
  <div id="startBtn" class="active">
    <button type="button" onclick="start()">게임시작</button>
  </div>
  <div id="turn">
    턴 0
  </div>
  <div id="player1BtnCon">
    <div id="player1Buttons">
      <button type="button" onclick="hit(1)">히트</button>
      <button type="button" onclick="stay(1)">스테이</button>
    </div>
  </div>
  <div id="player1BoardCon">
    <div id="player1Result">
      결과
    </div>
    <div id="player1Board">
      <div id="player1Card0">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player1Card1">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player1Card2">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player1Card3">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player1Card4">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player1Card5">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
    </div>
    <div id="player1BoardValue">
      a + 0
    </div>
  </div>
  <div id="player2BoardCon">
    <div id="player2Result">
      결과
    </div>
    <div id="player2Board">
      <div id="player2Card0">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player2Card1">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player2Card2">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player2Card3">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player2Card4">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div id="player2Card5">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
      <div class="card">
        <img src="/assets/img/cards/void.jpeg">
      </div>
    </div>
    <div id="player2BoardValue">
      b + 0
    </div>
  </div>
  <div id="player2BtnCon">
    <div id="player2Buttons">
      <button type="button" onclick="hit(2)">히트</button>
      <button type="button" onclick="stay(2)">스테이</button>
    </div>
  </div>
</div>

<script>
let turnCount = 0;
let isPlayer1First = true;
let deck = [
  'sA', 's2', 's3', 's4', 's5', 's6',
  's7', 's8', 's9', 'sX', 'sJ', 'sQ',
  'sK', 'dA', 'd2', 'd3', 'd4', 'd5',
  'd6', 'd7', 'd8', 'd9', 'dX', 'dJ',
  'dQ', 'dK', 'cA', 'c2', 'c3', 'c4',
  'c5', 'c6', 'c7', 'c8', 'c9', 'cX',
  'cJ', 'cQ', 'cK', 'hA', 'h2', 'h3',
  'h4', 'h5', 'h6', 'h7', 'h8', 'h9',
  'hX', 'hJ', 'hQ', 'hK'
];
let player1Cards = [
  'void', 'void', 'void', 'void', 'void',
  'void'
];
let player2Cards = [
  'void', 'void', 'void', 'void', 'void',
  'void'
];
let player1Nums = [
  0, 0, 0, 0, 0, 0
];
let player2Nums = [
  0, 0, 0, 0, 0, 0
];
let player1NumsSum = 100;
let player2NumsSum = 100;

function shuffle(array) {
  array.sort(() => Math.random() - 0.5);
}
function activateStartBtn() {
  const element = document.getElementById("startBtn");
  element.classList.add("active");
}
function deactivateStartBtn() {
  const element = document.getElementById("startBtn");
  element.classList.remove("active");
}
function activateTurn() {
  const element = document.getElementById("turn");
  element.classList.add("active");
}
function deactivateTurn() {
  const element = document.getElementById("turn");
  element.classList.remove("active");
}
function updateTurn() {
  document.getElementById("turn").innerText = "턴 " + turnCount;
}
function activateButtons() {
  if (isPlayer1First) {
    const element = document.getElementById("player1Buttons");
    element.classList.add("active");
  } else {
    const element = document.getElementById("player2Buttons");
    element.classList.add("active");
  }
}
function deactivateButtons() {
  const element0 = document.getElementById("player1Buttons");
  element0.classList.remove("active");
  const element1 = document.getElementById("player2Buttons");
  element1.classList.remove("active");
}
function updateButtons() {
  const element0 = document.getElementById("player1Buttons");
  element0.classList.toggle("active");
  const element1 = document.getElementById("player2Buttons");
  element1.classList.toggle("active");
}
function activateResults() {
  const element0 = document.getElementById("player1Result");
  element0.classList.add("active");
  const element1 = document.getElementById("player2Result");
  element1.classList.add("active");
}
function deactivateResults() {
  const element0 = document.getElementById("player1Result");
  element0.classList.remove("active");
  const element1 = document.getElementById("player2Result");
  element1.classList.remove("active");
}
function updateResults() {
  const element0 = document.getElementById("player1Result");
  element0.innerText = "승";
  const element1 = document.getElementById("player2Result");
  element1.innerText = "승";
}
function updateBoards() {
  const element0 = document.querySelector(`#player1Card${i} img`);
}
function activateBoardValues() {
  const element0 = document.getElementById("player1BoardValue");
  element0.classList.add("active");
  const element1 = document.getElementById("player2BoardValue");
  element1.classList.add("active");
}
function deactivateBoardValues() {
  const element0 = document.getElementById("player1BoardValue");
  element0.classList.remove("active");
  const element1 = document.getElementById("player2BoardValue");
  element1.classList.remove("active");
}
function updateBoardValues() {
  const element0 = document.getElementById("player1BoardValue");
  element0.innerText = "a + " + player1NumsSum;
  const element1 = document.getElementById("player2BoardValue");
  element1.innerText = "b + " + player2NumsSum;
}

function start() {
  deactivateStartBtn();
  activateTurn();
  activateButtons();
  activateResults();
  activateBoardValues();
  turnCount++;
  updateTurn();
}
</script>