---
layout: post
---

<style>
#viewer {
  width: 100%;
  height: 25rem;
  display: flex;
  background-color: #F9FBE7;
}
#startBtn {
  display: none;
}
#startBtn.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#turn {
  display: none;
}
#turn.active {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
}
#player1BtnCon {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F0EDD4;
}
#player1Buttons {
  display: none;
}
#player1Buttons.active {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player1BoardCon {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#player1Result {
  display: none;
}
#player1Result.active {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  display: block;
  text-align: center;
}
#player1Board {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}
#player1Card0, #player1Card1, #player1Card2, #player1Card3, #player1Card4, #player1Card5, #player1Card6, #player1Card7, #player1Card8 {
  margin-right: 3px;
}
#player1Board div img {
  width: 25px;
  height: 36px;
  object-fit: cover;
}
#player1BoardValue {
  display: none;
}
#player1BoardValue.active {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
#player2BoardCon {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F0EDD4;
}
#player2Result {
  display: none;
}
#player2Result.active {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  display: block;
  text-align: center;
}
#player2Board {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#player2Card0, #player2Card1, #player2Card2, #player2Card3, #player2Card4, #player2Card5, #player2Card6, #player2Card7, #player2Card8 {
  margin-right: 3px;
}
#player2Board div img {
  width: 25px;
  height: 36px;
  object-fit: cover;
}
#player2BoardValue {
  display: none;
}
#player2BoardValue.active {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
#player2BtnCon {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#player2Buttons {
  display: none;
}
#player2Buttons.active {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>

<div id="viewer">
  <div id="startBtn" class="active">
     <button type="button" onclick="start()">게임 시작</button>
  </div>
  <div id="turn">
  </div>
  <div id="player1BtnCon">
    <div id="player1Buttons">
      <button type="button" onclick="hit(1)">히트</button>
      <button type="button" onclick="stay(1)">스테이</button>
    </div>
  </div>
  <div id="player1BoardCon">
    <div id="player1Result">
    </div>
    <div id="player1Board">
      <div id="player1Card0">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card1">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card2">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card3">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card4">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card5">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card6">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card7">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card8">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player1Card9">
        <img src="/assets/img/sA.png">
      </div>
    </div>
    <div id="player1BoardValue">
    </div>
  </div>
  <div id="player2BoardCon">
    <div id="player2Result">
    </div>
    <div id="player2Board">
      <div id="player2Card0">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card1">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card2">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card3">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card4">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card5">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card6">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card7">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card8">
        <img src="/assets/img/sA.png">
      </div>
      <div id="player2Card9">
        <img src="/assets/img/sA.png">
      </div>
    </div>
    <div id="player2BoardValue">
    </div>
  </div>
  <div id="player2BtnCon">
    <div id="player2Buttons">
      <button type="button" onclick="hit(2)">히트</button>
      <button type="button" onclick="stay(2)">스테이</button>
    </div>
  </div>
</div>

<script>
let turnCount = 0;
let isPlayer1First = true;
let deck = [
  'sA', 's2', 's3', 's4', 's5', 's6',
  's7', 's8', 's9', 'sX', 'sJ', 'sQ',
  'sK', 'dA', 'd2', 'd3', 'd4', 'd5',
  'd6', 'd7', 'd8', 'd9', 'dX', 'dJ',
  'dQ', 'dK', 'cA', 'c2', 'c3', 'c4',
  'c5', 'c6', 'c7', 'c8', 'c9', 'cX',
  'cJ', 'cQ', 'cK', 'hA', 'h2', 'h3',
  'h4', 'h5', 'h6', 'h7', 'h8', 'h9',
  'hX', 'hJ', 'hQ', 'hK'
];
let player1Cards = [
  'void', 'void', 'void', 'void', 'void',
  'void', 'void', 'void', 'void', 'void',
  'void', 'void'
];
let player2Cards = [
  'void', 'void', 'void', 'void', 'void',
  'void', 'void', 'void', 'void', 'void',
  'void', 'void'
];
let player1Nums = [
  0, 0, 0, 0, 0, 0,
  0, 0, 0, 0, 0, 0
];
let player2Nums = [
  0, 0, 0, 0, 0, 0,
  0, 0, 0, 0, 0, 0
];

function shuffle(array) {
  array.sort(() => Math.random() - 0.5);
}

function updateTurn() {
  document.getElementById("turn").innerText = "턴 " + turnCount;
}

function deal() {
  turnCount++;
  updateTurn();
}

</script>