---
layout: default
---

{% for post in paginator.posts %}
  <article class="post">
    <div class="post-title">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
  <div class="flex-container">
    <div class="flex-col-container">
      <div class="datetime">
        <p>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time><br>
          -
        </p>
      </div>
      <div class="tag">
        <p>{% include reading_time.html %}</p>
      </div>
    </div>
    <div class="thumbnail">
      {% if post.image %}
        <a href="{{ post.url }}"><img src="{{ post.image }}"/></a>
      {% endif %}
      {% if post.gif %}
        <a href="{{ post.url }}">{% include gif.html file = post.gif %}</a>
      {% endif %}
    </div>
    <div class="text-preview">
      <p>
        {% if post.customexcerpt %}
          {{ post.customexcerpt | strip_html | truncatewords:50 }}
        {% else %}
          {{ post.content | strip_html | truncatewords:50 }}
        {% endif %}
          <span class = "continue-reading"><a href="{{ post.url | relative_url }}">Continue reading...</a></span>
      </p>
    </div>
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class = "paginator">
	{% if paginator.total_pages > 1 %}
	{% if paginator.next_page %}
	  <a class = "older paginate-button" href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
	{% endif %}
	{% if paginator.previous_page %}
	<a class = "newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
  {% endif %}
  {% endif %}
</div>