<!doctype html>
<html>
    {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="line-container">
        <div class="diagonal-line" style="left: 10%;"></div>
        <div class="diagonal-line" style="left: 30%;"></div>
        <div class="diagonal-line" style="left: 50%;"></div>
        <div class="diagonal-line" style="left: 70%;"></div>
        <div class="diagonal-line" style="left: 90%;"></div>
    </div>

    <div class="row">
      <div class="col-4">
        <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
          <a class="p-1 rounded" href="#simple-list-item-1">Item 1</a>
          <a class="p-1 rounded" href="#simple-list-item-2">Item 2</a>
          <a class="p-1 rounded" href="#simple-list-item-3">Item 3</a>
          <a class="p-1 rounded" href="#simple-list-item-4">Item 4</a>
          <a class="p-1 rounded" href="#simple-list-item-5">Item 5</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          <h4 id="simple-list-item-1">Item 1</h4>
          <p>...</p>
          <h4 id="simple-list-item-2">Item 2</h4>
          <p>...</p>
          <h4 id="simple-list-item-3">Item 3</h4>
          <p>...</p>
          <h4 id="simple-list-item-4">Item 4</h4>
          <p>...</p>
          <h4 id="simple-list-item-5">Item 5</h4>
          <p>...</p>
        </div>
      </div>
    </div>
    <main>
      <article class="post">
        <div class="post-title">
          <h3>{{ page.title }}</h3>
        </div>
        <div class="post-datetime">
          <p>{{ page.date | date_to_string }}</p>
        </div>
        <div class="post-text">
          {{ content }}
        </div>
      </article>
    </main>
    {% include footer.html %}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
      $(document).ready(function(e) {
        $("#markdown-toc").multilingual(["ko", "en", "num"]);
      });
    </script>
  </body>
</html>
