---
layout: default
---

<article class="post">
	<h3>{{ page.title }}</h3>
	{% if site.data.settings.date-under-post.active %}
		<p class="post-info">
			{{ page.date | date_to_string }}
		</p>
	{% endif %}

	{{ content }}
</article>

{% if site.data.settings.categories.active %}
	{% include categories.html %}
{% endif %}

{% if site.data.settings.related-posts.active %}
	{% include related-posts.html %}
{% endif %}

{% if site.data.settings.mathjax.active %}
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
{% endif %}

<script>
	$(document).ready(function(e){
		$("#markdown-toc").multilingual([
			"ko", "en", "num"
		]);
	});
</script>