---
layout: post
---

{{ content }}

<script>
  
  let tbody = document.getElementById('anilistTbody');
  
  function sortDateAsc(){
    tbody.innerHTML = `
      {% assign sorted = site.data.anilist | sort: 'debut' %}
      {% for product in sorted %}
        <tr>
          <td>{{ product.debut }}</td>
          <td>{{ product.title }}</td>
          <td>
            {% for product in product.follow-ups %}
              {{ product.title }}<br>
            {% endfor %}
          </td>
          <td>
            {% for product in product.film %}
              {{ product.title }}<br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    `;
  }

</script>
