---
layout: post
---

<button onclick="switchTitleToOriginalLanguage()">あ</button>
<button onclick="switchTitleToKorean()">가</button>
<button onclick="sortTableByDebutAsc()">날짜오름차순</button>
<button onclick="sortTableByDebutDesc()">날짜내림차순</button>

{{ content }}

<script>
  
  let switchedTitle = "title";
  let sortedTable = "debutAscTable";
  let tbody = document.getElementById('anilistTbody');
  
  function switchTitleToOriginalLanguage(){
    let switchedTitle = "title";
    sortTable();
  }
  
  function switchTitleToKorean(){
    let switchedTitle = "koreantitle";
    sortTable();
  }
  
  function sortTableByDebutAsc(){
    let sortedTable = "debutAscTable";
    sortTable();
  }
  
  function sortTableByDebutDesc(){
    let sortedTable = "debutDescTable";
    sortTable();
  }
  
  function sortTable(){
    if (switchedTitle == "title" && sortedTable == "debutAscTable"){
      tbody.innerHTML = `
        {% assign sorted = site.data.anilist | sort: 'debut' %}
        {% for product in sorted %}
          <tr>
            <td>{{ product.debut }}</td>
            <td>{{ product.title }}</td>
            <td>
              {% for product in product.follow-ups %}
                {{ product.title }}<br>
              {% endfor %}
            </td>
            <td>
              {% for product in product.films %}
                {{ product.title }}<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      `;
    }
    else if (switchedTitle == "title" && sortedTable == "debutDescTable"){
      tbody.innerHTML = `
        {% assign sorted = site.data.anilist | sort: 'debut' | reverse %}
        {% for product in sorted %}
          <tr>
            <td>{{ product.debut }}</td>
            <td>{{ product.title }}</td>
            <td>
              {% for product in product.follow-ups %}
                {{ product.title }}<br>
              {% endfor %}
            </td>
            <td>
              {% for product in product.films %}
                {{ product.title }}<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      `;
    }
    else if (switchedTitle == "koreantitle" && sortedTable == "debutAscTable"){
      tbody.innerHTML = `
        {% assign sorted = site.data.anilist | sort: 'debut' %}
        {% for product in sorted %}
          <tr>
            <td>{{ product.debut }}</td>
            <td>{{ product.koreantitle }}</td>
            <td>
              {% for product in product.follow-ups %}
                {{ product.koreantitle }}<br>
              {% endfor %}
            </td>
            <td>
              {% for product in product.films %}
                {{ product.koreantitle }}<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      `;
    }
    else if (switchedTitle == "koreantitle" && sortedTable == "debutDescTable"){
      tbody.innerHTML = `
        {% assign sorted = site.data.anilist | sort: 'debut' | reverse %}
        {% for product in sorted %}
          <tr>
            <td>{{ product.debut }}</td>
            <td>{{ product.koreantitle }}</td>
            <td>
              {% for product in product.follow-ups %}
                {{ product.koreantitle }}<br>
              {% endfor %}
            </td>
            <td>
              {% for product in product.films %}
                {{ product.koreantitle }}<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      `;
    }
  }
</script>
