---
layout: post
---

<button onclick="switchTitleToOriginalLanguage()">あ</button>
<button onclick="switchTitleToKorean()">가</button>
<button onclick="sortTableByDebutAsc()">날짜오름차순</button>
<button onclick="sortTableByDebutDesc()">날짜내림차순</button>

{{ content }}

<script>
  
  let switchedTitle = "title";
  let sortedTable = "debutAscTable";
  let tbody = document.getElementById('anilistTbody');
  
  function switchTitleToOriginalLanguage(){
    let switchedTitle = "title";
    if (sortedTable == "debutAscTable"){
      sortTableByDebutAsc();
    }
    else if (sortedTable == "debutDescTable"){
      sortTableByDebutDesc();
    }
    else {
      let sortedTable = "debutAscTable";
    }
  }
  
  function switchTitleToKorean(){
    let switchedTitle = "koreantitle";
    if (sortedTable == "debutAscTable"){
      sortTableByDebutAsc();
    }
    else if (sortedTable == "debutDescTable"){
      sortTableByDebutDesc();
    }
    else {
      let sortedTable = "debutAscTable";
    }
  }
  
  function sortTableByDebutAsc(){
    let sortedTable = "debutAscTable";
    tbody.innerHTML = `
      {% assign sorted = site.data.anilist | sort: 'debut' %}
      {% for product in sorted %}
        <tr>
          <td>{{ product.debut }}</td>
          <td>{{ product.${switchedTitle} }}</td>
          <td>
            {% for product in product.follow-ups %}
              {{ product.${switchedTitle} }}<br>
            {% endfor %}
          </td>
          <td>
            {% for product in product.films %}
              {{ product.${switchedTitle} }}<br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    `;
  }
  
  function sortTableByDebutDesc(){
    let sortedTable = "debutDescTable";
    tbody.innerHTML = `
      {% assign sorted = site.data.anilist | sort: 'debut' | reverse %}
      {% for product in sorted %}
        <tr>
          <td>{{ product.debut }}</td>
          <td>{{ product.${switchedTitle} }}</td>
          <td>
            {% for product in product.follow-ups %}
              {{ product.${switchedTitle} }}<br>
            {% endfor %}
          </td>
          <td>
            {% for product in product.films %}
              {{ product.${switchedTitle} }}<br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    `;
  }
</script>
